code,
.code-block-wrap {
  user-select: text;
}

.code-block-wrap {
  position: relative;
  margin: 1rem 0;
  border-radius: var(--radius-md);
  overflow: hidden;
}

.code-block-wrap .copy-code {
  display: block;
  font-size: 0.75rem;
  padding: 0.25em 0.6em;
  color: var(--secondary, #8087a2);
  background: var(--code-bg, #37383e);
  cursor: copy;
}

.code-block-wrap:hover .copy-code {
  display: block;
}

.code-block-header {
  padding: 0.35rem 0.75rem;
  font-size: 0.8rem;
}

.code-block-lang {
  text-transform: lowercase;
  user-select: none;
}

.code-block-inner {
  overflow-x: auto;
}

.copy-code {
  opacity: .3;
  transition: var(--transition);
}

.copy-code.is-copied,
.copy-code:hover {
  opacity: 1;
  color: var(--pastel-bg);
}

.copy-code .copied-label,
.copy-code.is-copied .copy-label {
  display: none;
}

.copy-code.is-copied .copied-label {
  display: inline;
}
