.pagination {
  align-items: center;
  gap: 1rem;
  width: fit-content;
  margin-inline: auto;
}

.pagination a {
  color: var(--secondary);
  text-transform: lowercase;
  opacity: var(--grayed-out);
  transition: var(--transition);
  background: transparent;
}

.pagination a:hover {
  color: var(--pastel-bg);
  text-decoration: underline;
  transform: translateY(-0.04em);
  opacity: 1;
}

.pagination .page-count {
  font-size: .75rem;
  color: var(--tertiary);
}