:root {
  --spacing: 0 0.75em 0 0;
}

#top>main>article {
  margin: 0 0 1em 0;
}

#top>main>ul {
  font-size: var(--font-size);
}

.social-icons a {
  cursor: copy;
  color: var(--primary);
  font-size: 1.3em;
  text-decoration: none;
  position: relative;
  opacity: var(--grayed-out);
  padding: var(--spacing);
  transition: var(--transition);
}

.social-icons a::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(2px);
  color: var(--primary);
  padding: var(--spacing);
  font-size: 0.7em;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  letter-spacing: 0.5px;
  font-weight: 400;
  transition: var(--transition);
}

.social-icons a:hover::before {
  visibility: visible;
  transform: translateX(-50%) translateY(-8px);
  opacity: 1;
}

.social-icons a:hover {
  color: var(--primary);
  transform: translateY(-2px);
  opacity: 1;
}
