.toc {
  text-transform: lowercase;
  border-radius: var(--radius-md);
  overflow: hidden;
  color: gray;
  border: none;
}

details {
  color: #808080;
  transition: var(--transition);
}

details:hover {
  color: white; /* change to #fffeee at some point */
  cursor: zoom-in;
}

details>summary::marker {
  content: "# ";
  text-align: left;
}

details>summary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.toc li::marker {
  content: "~ ";
}

details[open] summary {
  border-bottom: 2px solid var(--tertiary);
}

/* arrow */
#top-link {
  border-radius: var(--radius-md);
  transition: var(--transition);
}
