.toc {
  text-transform: lowercase;
  border-radius: var(--radius-md);
  overflow: hidden;
  color: gray;
}

.toc details {
  transition: var(--transition);
}

.toc:hover {
  color: white;
}

.toc details>summary::marker {
  content: "#";
  text-align: left;
}

.toc details>summary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.toc li::marker {
  content: "~ ";
}

details[open] summary {
  border-bottom: 2px solid var(--tertiary);
}

/* arrow */
#top-link {
  border-radius: var(--radius-md);
  transition: var(--transition);
}
