{{- if not .IsHome }}
{{- $parent := "" }}
{{- if .IsSection }}
{{- $parent = .CurrentSection.Parent }}
{{- else }}
{{- $parent = .CurrentSection }}
{{- end }}
{{- if $parent }}
<nav class="back-link" aria-label="back">
    {{- if $parent.IsHome }}
    <a href="{{ $parent.Permalink }}">&larr; root</a>
    {{- else }}
    {{- $displayTitle := or (or (or ($parent.Title | strings.TrimSpace) $parent.Section) $parent.LinkTitle) "index" }}
    <a href="{{ $parent.Permalink }}">&larr; return to <span class="parent-title"><b>{{ $displayTitle }}</b></span></a>
    {{- end }}
</nav>
{{- end }}
{{- end }}
